service sensor_recover_odm /odm/bin/sensor_recover.sh
    class core
    user system
    group system
    seclabel u:r:vendor_qti_init_shell:s0
    disabled
    oneshot

on post-fs-data
    start vendor.touch-hal
    start sensor_recover_odm
    # Enable QCOM speaker protection (required for TFA9874 amplifier calibration)
    setprop persist.vendor.audio.speaker.prot.enable true
    start fps_hal
    start vendor.fps_hal_oplus

on property:sys.boot_completed=1
    start sensor_recover_odm
