service fps_hal /odm/bin/hw/vendor.oplus.hardware.biometrics.fingerprint@2.1-service
    override
    class late_start
    user system
    group system input uhid
    interface vendor.oplus.hardware.biometrics.fingerprint@2.1::IBiometricsFingerprint default
    interface android.hardware.biometrics.fingerprint@2.1::IBiometricsFingerprint default
    interface android.hardware.biometrics.fingerprint@2.2::IBiometricsFingerprint default
    interface android.hardware.biometrics.fingerprint@2.3::IBiometricsFingerprint default
