service vendor.sensors-hal-multihal /vendor/bin/hw/android.hardware.sensors-service.multihal
    override
    class hal
    user system
    group system wakelock context_hub input uhid
    task_profiles ServiceCapacityLow
    capabilities BLOCK_SUSPEND
    rlimit rtprio 10 10
    interface aidl android.hardware.sensors.ISensors/default

service vendor.livedisplay-hal /vendor/bin/hw/vendor.lineage.livedisplay-service.oplus
    override
    class late_start
    user system
    group system
    interface aidl vendor.lineage.livedisplay.IPictureAdjustment/default
    interface aidl vendor.lineage.livedisplay.ISunlightEnhancement/default
